@model Book

<div class="card m-1 p-1">
    <h4>@Model.Title
        <span class="badge rounded-pill bg-orange text-black float-end">
            <small>$@Model.Price</small>
        </span>
    </h4>
    <ul>
        <li>Author: @Model.Author</li>
        <li>@Model.Classification, @Model.Category</li>
        <li>Publisher: @Model.Publisher</li>
        <li>Page Count: @Model.PageCount</li>
        <li>@Model.Isbn</li>
    </ul>
</div>